@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap%27');

/* body {
  background-color: #7E549F;
} */

/* #logo {
  margin: 0.1em;
  width:70px;
  height:70px;
  float: left;
} */

/* .headerContainer {
  color:#E266AC;
  font-family: 'Passion One', cursive;
  font-size: 25px;
  position: relative;
} */

/* .headerContainer h1 {
  position: relative;
  top: -24px;
} */

/* button {
  float: right;
  background-color: #E266AC;
  font-size: 25px;
  font-family: 'Passion One', cursive;
  font: white;
} */

/* #row {
  display: flex;
}

#col {
  flex: 1;
} */