.avatar{
    width: 10em;
    height: 10em;
    background: purple;
}

.avatar h1{
    padding-top: 6%;
    text-align: center;
    color: #fff;
}

.avatar img{
    padding-top: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}